<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="OnlineBanking" verbose="1" parallel="false">
 <listeners>
 	  <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Amazon_Flipkart_Search">
    <classes>
      <class name="testNG.Assignment1">
      </class>
    </classes>
  </test>
  
   <test name="TripAdvisor_Aytomation">
    <classes>
      <class name="testNG.Assignment2">
      </class>
    </classes>
  </test>
</suite>
